*{font-family: "brandon-grotesque"; font-weight:400;}

.dark-purple{color:#673050;}
.tan{color:#B29A74;}
.mint{color:#D7EDE3;}
.magenta{color:#890058;}
.off-white{color:#E7E1D5;}
.bg-white{background:#fff;}

.bold{font-weight:700;}
.light{font-weight:300;}
.uppercase{text-transform: uppercase;}
.bold.uppercase{letter-spacing:.15em; line-height: 200%;}

.line-height-0{line-height:0;}
.table{width:100%;}
.horizontal-rule{border-bottom:1px solid #673050; padding-bottom: 80px}

.card{background: #fff; box-shadow: 0 5px 15px rgba(0,0,0,0.3); }

body{margin:0; color:#B29A74; padding-bottom:80px;}

.header{position: fixed; bottom:0; left:0; right:0; text-align: center; z-index: 100;}
.header a.uppercase{display: inline-block; width:130px; line-height: 80px; text-decoration: none; color:#B29A74;}
.header div:first-child{opacity:0; text-align: right; padding-right:40px; transition:opacity .3s ease;}
.header div:first-child a{text-align: right;}
.header div:last-child{opacity:0; text-align: left; padding-left:40px; transition:opacity .3s ease;}
.header div:last-child a{text-align: left;}

.hero{height: 100vh; background-size:cover; background-position: center center;}

.mint-bg{background:#D7EDE3; color:#673050;}

a.button{padding:10px 15px; color:#fff; text-decoration: none; background:#673050; display: inline-block;}
a.button.h1, a.button.h2, a.button.h3{padding:30px;}
.mint-bg>a.button{color:#D7EDE3;}

.cover{background-size: cover; background-position: center center;}

.blocks .block{position: relative;}
.blocks .cover{padding-top: 56.5%;}

iframe{position: fixed; width:100%; height:100%; top:0; left:0; right:0; bottom:0; display: none;}
.close{position: fixed; top:15px; left:0; right:0; width:100%; text-align: center; z-index: 100; display: none; text-decoration: none; text-indent: -10px;}

.vertical {
	transform: rotate(90deg);
	transform-origin: left top;
	position: absolute;
	top:50%;
	margin-top:-8%;
	left:50px;
	display: none;
}

@media screen and (min-width: 800px) {
	.h2{font-size:48px;}

	.blocks .block{padding-left:50%;}
	.blocks .cover{padding-top:0; position: absolute; top:0; left:0; bottom:0; right:50%;}
	.block:nth-child(even){padding-left:0; padding-right:50%;}
	.block:nth-child(even) .cover{left:50%; right:0;}

	.rule{position: relative;}
	.rule:after{content:" "; width:1px; height: 100%; position: absolute; top:0; right:0; background:#B29A74;}
}

@media screen and (max-width:500px){
	.h1{font-size:24px;}

	a.button.h1, a.button.h2, a.button.h3{font-size:14px; padding:20px 30px;}
	a.button.block{width:100%; box-sizing:border-box;}

	.header a.bold{width:100%; text-align: center !important; width:140px;}
	.header div:first-child{padding:0; text-align: center;}
	.header div:last-child{padding:0; text-align: center;}
}